.GSAPbox {
    width: 100px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: white;
    border-radius: 8px;
    color: #222;
    font-weight: 700;
    margin-left: 20px;
    will-change: transform;
  }
  .GSAPbox.active {
    background-color: orange;
    border: 2px solid white;
  }

  .GSAPcontainer {
    width: 500%;
    height: 500px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #222;
  }

  .GSAPpanel {
    width: 100vw;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .GSAPcenterBox {
    width: 400px;
    height: 400px;
    background: black;
  }