
/* ///////////////////////////////////////////////////////////////////////// */
/* carousel - our services */

/* text hover effect */

/* splideCard */
/* relative flex items-end */
.splideContentDesc {
  position: absolute;
  bottom: 3rem;
  height: auto;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
}

.splideCard:hover .splideContentDesc {
  bottom: 1rem;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}

.splideCard .splideContentDesc .splideContent {
  opacity: 0;
  transition: all 0.4s ease-in-out 0;
  -webkit-transition: all 0.4s ease-in-out 0;

  }
  
  .splideCard:hover .splideContentDesc .splideContent{
    opacity: 1;
  }

  /* .splideCard .splideTitle {
    transform: translateY(20px);
  }
  
  .splideCard:hover  .splideTitle{
    transform: translateY(0px);
  } */
  
  
  .splideCard {
    filter: brightness(1);
  
  }
  
  .splideCard:hover{
    filter: brightness(1.15);
    /* transform: translateY(-100px); */
    
  }
  
  
  .splide {
    padding: 0;
  }
  
  button.splide__arrow {
    background-color: white;
    opacity: 1;
  }
  
  button.splide__arrow svg {
    fill: 191e3e;
  }
  

  .swipe_rotate {
    animation-duration: 7s;
    animation-name: rotateBack;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: normal;
  }
  
  @keyframes rotateBack {
    0% {
      transform: rotate(0deg);
    }
  
    15%{
      transform: rotate(30deg);
    }
    30% { 
      transform: rotate(-30deg);
    }
    50% {
      transform: rotate(0deg);
  
    }
  }
  