

.panel-text2509, .panel2509 {

    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
    width: 100%;
    height: 100%;
   
}


.panel-text2509 {

    transform:translateY(100%);
    opacity: 0;

    font-size: 40px;
    text-transform: uppercase;
    font-weight: 900;
    text-align:center;
    background-color: #070707;
  

}

.scrollbar-track-y {
    background-color: transparent !important;
    /* width: 5px !important; */
}

.scrollbar-thumb-y {
    background-color: rgb(157, 3, 47) !important;
    width: 5px !important;
    /* height: 200px !important; */
    /* border: 1px solid rgb(0, 193, 132); */
    /* border-radius: 0px !important; */
}
