@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.FullScreen_CenteredFlex {
  height: 100vh;
  width: 100vw;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* some tailwind styling for buttons across the page */
.gradientBGButton {
  @apply bg-gradient-to-r from-[#387ca4] to-[#39d0b7b4]
}


.ambientBackground {
  @apply bg-[rgb(2,8,18)]
}
.gradientRoundButton {
  @apply rounded-[1rem]  bg-gradient-to-r from-[#387ca4] to-[#39d0b7b4]
}


.gradientGreyButton {
  @apply bg-[#4747475c] rounded-[1rem]
}
